:root {
  --color-primary: #f26a3d;
  --color-content-cyan: #5980a1;
  --color-content-darkcyan: #4b6780;

  --font-primary: "Fira Sans", Arial, "ChiuKong Gothic CL", sans-serif;
  --font-secondary: "Palatino Linotype", "Palatino", "Advocate Ancient Serif SC", serif;;
  --font-monospace: "Mononoki", "ChiuKong Gothic CL", monospace;
}

::selection {
  background-color: #cce2ff;
}

.theme-dark ::selection {
  background-color: #5b646f;
}

.inner {
  max-width: calc(65rem + 11vw);
}

.blog-header.has-cover:has(+ .post),
.blog-header.has-cover:has(+ .content) {
  margin-bottom: 7.5em;
}

.post-title {
  color: var(--color-content-cyan);
}

.post-excerpt {
  font-family: var(--font-primary);
  font-size: 2em;
  line-height: 1.5em;
}

.container .post .post-box {
  border-bottom: unset;
}

/* fonts config */
.post-content ol,
.post-content ul,
.post-content dl,
.post-nav-excerpt {
  font-family: var(--font-primary);
}

code,
kbd,
pre,
samp {
  font-family: var(--font-monospace);
}

.post-content code,
.post-content tt {
  font-family: var(--font-monospace);
  font-size: 0.8em;
}

.post-content pre {
    font-family: var(--font-monospace);
    font-size: 0.9em;
    line-height: 1.5em;
}

.post-content {
  font-size: 2rem;
  line-height: 1.5em;
  text-align: justify;
}

.post-content p {
  font-family: var(--font-primary);
  margin: 0 0 2rem;
}

.post-content p:empty {
  margin: 0;
}

.post-content i {
  font-style: normal;
}

.post-content a {
  box-shadow: unset;
  border-bottom: 1px solid var(--color-primary);
  transition: all ease-out 0.2s;
}

.post-content a:focus,
.post-content a:hover {
  box-shadow: unset;
  color: var(--color-primary);
}

/* list style */
.post-content ol > li:before,
.post-content ul > li:before {
  font-size: unset;
  line-height: unset;
}

.post-content ul > li:before {
  margin-top: 0.25em;
  content: "*";
}

.post-content dl dt:before {
  content: "*";
  color: var(--color-primary);
  background-color: unset;
  width: unset;
  height: unset;
  margin-left: -25px;
  margin-top: 0.25em;
}

.post-content pre code,
.post-content pre tt {
  margin: 0;
  padding: 0 1em;
  font-size: 1em;
  line-height: 1.5em;
  overflow-x: unset;
}

.post-content pre {
    overflow-x: auto;
}

.post-content table th,
.post-content table td {
  font-size: 0.8em;
  padding: 1rem;
}

.post-content blockquote {
  font-family: var(--font-primary);
  background: var(--color-background-secondary);
  padding: 0.5em 1em;
}

.theme-dark .post-content img {
  filter: brightness(0.9);
}

/* css for summary tags */
.post-tags a {
  border-radius: 3px;
  padding: 0 5px;
  background: none;
  color: var(--color-content-darkcyan);
  font-family: "Lato", Arial, "ChiuKong Gothic CL", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
}

.post-tags a:focus,
.post-tags a:hover {
  background: var(--color-background-contrast);
}

.post-excerpt .post-tags a {
  font-size: 0.9em;
}

.post-excerpt .post-tags {
  max-width: 100%;
}

/* css for tag cloud */
.tag-cloud {
  text-align: left;
}

.tag-cloud a {
  background: var(--color-background-secondary);
  font-size: 1.75em;
  border-radius: 9999px;
  margin-bottom: 0.6em;
  margin-right: 0.3em;
  font-family: "Lato", Arial, "ChiuKong Gothic CL", sans-serif;
  border: none;
  color: unset;
}

.tag-cloud a:focus,
.tag-cloud a:hover {
  color: unset;
  border-color: unset;
  background: var(--color-background-contrast);
}

.post-author-about {
  font-family: var(--font-secondary);
}

.post-author-bio span i {
  font-size: 1.5em;
  color: var(--color-content-main);
}

.post-author-bio span i:hover {
  transform: rotate(15deg) scale(1.3);
  color: var(--color-content-lead);
  transition: all 0.2s
}

.about-page.archive-links span i:hover {
  transform: rotate(15deg) scale(1.3);
  transition: all 0.2s
}

.archive .archive-links {
  font-size: 2.5em;
}

.archive-links span {
  margin-right: 0.5em;
}

.post-content span i {
  font-style: initial!important;
}

.nav-meta img {
  height: 2.5rem;
}

.nav-header li a:has(img) {
  padding: 0.75rem 0;
}

.nav-header .nav-wrapper {
  overflow-y: unset;
}

.pop-info {
  font-family: "Lato", Arial, "ChiuKong Gothic CL", sans-serif;
  font-size: 1.35rem;
  color: var(--color-content-secondary);
  z-index: 100;
}

.post-share .share-link {
    background-color: #4999a7;
}

.post-share .mastodon {
    background-color: #368bce;
}

.post-share .weibo {
    background-color: #d36666;
}

/* highlight.js style */
.hljs-keyword {
  font-style: italic;
}

hljs-literal {
    color: #009926
}

.theme-dark hljs-literal {
    color:#61D27C
}

.hljs-meta {
  color: #dc3958;
}

@media only screen and (max-width: 640px) {
  .nav-foreverblog, .nav-travellings {
  display: none;
  }
}
