:root {
    --color-background-note:#e5f7ff;
    --color-background-warn:#fff4e5;
    --color-note:#1c7fbb;
    --color-warn:#f99326;
    --waline-color: var(--color-content-main) !important;
    --waline-bgcolor: var(--color-background-main) !important;
    --waline-info-color: var(--color-content-secondary) !important;
    --waline-info-bgcolor: var(--color-background-secondary) !important;
    --waline-font-size: 1em !important;
    --waline-avatar-size: 3.25em !important;
    --waline-badge-font-size: 0.65em !important;
}

.theme-dark:root {
    --color-background-note: var(--color-background-contrast);
    --color-background-warn: var(--color-background-contrast);
    --color-note: var(--color-content-lead);
    --color-warn: var(--color-content-lead);
    --waline-bgcolor: var(--color-background-secondary) !important;
}

dot {
    text-decoration: underline dotted 2px var(--color-primary);
    text-underline-offset: 3px;
}

#about-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about-columns > div{
    max-width: 45%;
}

#about-columns img{
    margin: 2em 0 1em;
    border-radius: 0;
}

#toc ul{
    margin: 0;
    padding: 0;
}

#toc li{
    padding-left: 0.75em;
}

#toc li::marker {
    content: ">";
    color: var(--color-content-secondary);
}

#toc li > a{
    text-decoration: none;
    color: var(--color-content-secondary);
}

#toc li > a:hover,
#toc li > a:focus{
    font-weight: 500;
    padding-left: 5px;
    border-left: 5px solid var(--color-primary);
    color: var(--color-content-main);
    transition: all 0.2s;
}

.toc-nav{
    position: absolute;
    max-width: 17vw;
    font-size: 1.75em;
    line-height: 1.5em;
    margin: 0 1em 0 3.5em;
}

.cover-inactive .toc-nav {
    position: fixed;
    top: 4em;
}

.inner:has(.links) {
    max-width: calc(70rem + 12vw);
}

.friends {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1em 3em;
    margin-bottom: 3em;
}

.friends > a{
    border: none;
}

.friends a:hover,
.friends a:focus {
    color: inherit;
    transition: none;
}

.friend {
    display: flex;
    width: 35rem;
    border-radius: 5px;
    border: solid 1px var(--color-background-contrast);
}

.friend img {
    margin: 0;
    padding: 1rem;
    box-shadow: none;
    height: 9rem;
    width: 9rem;
}

.friend .friend-content {
    position: relative;
    display: block;
    padding: 1rem 1em;
    line-height: 1em;
    width: 100%;
    height: 9rem;
}

.friend .friend-content .name {
    position: absolute;
    top: 1em;
    padding: 1em 0;
    font-size: 1em;
    line-height: 1.35em;
    width: 20rem;
    font-family: var(--font-secondary);
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 20;
}

.friend-content .text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding-top: 4rem;
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.friends .friend:hover,
.friends .friend:focus {
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    transition: .2s ease-in-out box-shadow;
}

.friends .friend:hover .name,
.friends .friend:focus .name {
    top: 0;
    transition: .4s .1s ease-in-out all;
}

.friends .friend:hover .text,
.friends .friend:focus .text {
    visibility: visible;
    opacity: inherit;
    transition: .5s .1s cubic-bezier(0.4, 0, 1, 1) opacity;

}

#waline {
    padding-bottom: 5em;
    font-size: 2em;
}

.wl-panel {
    border-radius: 0.5em !important;
}

.wl-card {
    border-bottom: none !important;
}

.wl-card .wl-admin-actions {
    font-size: 0.8em !important;
}

.wl-header input {
    font-size: 0.75em !important;
}

.wl-header-item input:hover,
.wl-header-item input:focus {
    font-size: 0.75em !important;
    background-color: unset !important;
}

.wl-editor:focus {
    background-color: var(--color-background-main) !important;
}

.wl-user > img,
.wl-avatar img {
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

button[title="喜欢"],
button[title="表情包"] {
    display: none !important;
}

.wl-content blockquote::before {
    content: none;
}

.wl-content blockquote::after {
    content: none;
}

.wl-content img {
    margin: 1em;
}

.warn-info p,
.note-info p{
    margin: 15px 15px 15px 15px;
}

.warn-info span,
.note-info span {
    font-weight: 500;
}

.warn-info span {
    color: var(--color-warn)
}

.note-info span {
    color: var(--color-note)
}

.warn-info {
    border: 2px solid;
    background: var(--color-background-warn);
    border-radius: 5px;
    margin: 0 0 4rem;
}

.note-info {
    border: 2px solid;
    background: var(--color-background-note);
    border-radius: 5px;
    margin: 0 0 4rem;
}

.note-info pre {
    max-width: 95%;
}

.cite {
    font-family: var(--font-secondary) !important;
    font-style: normal;
    font-weight: 700;
}

.intro {
    font-style: italic;
    margin-top: -2em !important;
    font-size: 0.9em;
    opacity: 0.8;
    text-align: left;
}

.output_wrapper{
    padding-top: 0.5em;
}

.code_cell {
    padding: 1em 0em 1em 2em;
}

.prompt {
    user-select: none;
    font-family: var(--font-monospace);
    font-size: 1.75rem;
    width: 4em;
    display: block;
    text-align: right;
    position: absolute;
}

.input_area,
.output_subarea {
    padding-left: 5em;
}

.output_png img,
.output_svg svg {
    width: unset;
    box-shadow: none;
    border: 2px solid #eee;
}

.output_svg svg {
    display: block;
    margin: 2.5em auto;
    border-radius: 3px;
    }

.output_text pre {
    background: none;
    border: none;
    padding-top: 0em;
    padding-bottom: 0em;
}

.anchor-link {
    display: none;
}

#map {
    position: relative;
}

#map iframe {
    width:100%;
    height: 75vh;
    border: none;
}

.loader {
    position: absolute;
    margin: 0;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.loader:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

.circular {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }

/* Tone letters */
@font-face {
font-family: "Fira Sans";
src: local(Arial);
unicode-range: U+02E5-02E9;
}

@-webkit-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
@-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
@keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
@-webkit-keyframes color {
    100%, 0% {
      stroke: #d62d20;
    }
    40% {
      stroke: #0057e7;
    }
    66% {
      stroke: #008744;
    }
    80%, 90% {
      stroke: #ffa700;
    }
  }
@keyframes color {
    100%, 0% {
      stroke: #d62d20;
    }
    40% {
      stroke: #0057e7;
    }
    66% {
      stroke: #008744;
    }
    80%, 90% {
      stroke: #ffa700;
    }
  }

/* jupyter notebook code highlight */
.prompt.input_prompt {
    color: #303F9F
}

.theme-dark .prompt.input_prompt {
    color: #99a7ff
}

.prompt.output_prompt {
    color: #D84315
}

.theme-dark .prompt.output_prompt {
    color: #fb8966
}

.highlight .gd,     /* Generic.Deleted */
.highlight .gr,     /* Generic.Error */
.highlight .gt      /* Generic.Traceback */
{ color: #aa0000 }

.highlight .err     /* Error */
{ color: #a61717; background-color: #e3d2d2 }

.highlight .s,      /* Literal.String */
.highlight .sa,     /* Literal.String.Affix */
.highlight .sb,     /* Literal.String.Backtick */
.highlight .sc,     /* Literal.String.Char */
.highlight .dl,     /* Literal.String.Delimiter */
.highlight .sd,     /* Literal.String.Doc */
.highlight .s2,     /* Literal.String.Double */
.highlight .se,     /* Literal.String.Escape */
.highlight .si,     /* Literal.String.Interpol */
.highlight .s1,     /* Literal.String.Single */
.highlight .ss      /* Literal.String.Symbol */
{ color: #CD5555 }

.theme-dark .highlight .s,      /* Literal.String */
.theme-dark .highlight .sa,     /* Literal.String.Affix */
.theme-dark .highlight .sb,     /* Literal.String.Backtick */
.theme-dark .highlight .sc,     /* Literal.String.Char */
.theme-dark .highlight .dl,     /* Literal.String.Delimiter */
.theme-dark .highlight .sd,     /* Literal.String.Doc */
.theme-dark .highlight .s2,     /* Literal.String.Double */
.theme-dark .highlight .se,     /* Literal.String.Escape */
.theme-dark .highlight .si,     /* Literal.String.Interpol */
.theme-dark .highlight .s1,     /* Literal.String.Single */
.theme-dark .highlight .ss      /* Literal.String.Symbol */
{ color: #ed7171 }

.highlight .sx      /* Literal.String.Other */
{ color: #cb6c20 }

.highlight .c,      /* Comment */
.highlight .ch,     /* Comment.Hashbang */
.highlight .cm,     /* Comment.Multiline */
.highlight .cpf,    /* Comment.PreprocFile */
.highlight .c1      /* Comment.Single */
{ color: #228B22 }

.highlight .gi      /* Generic.Inserted */
{ color: #00aa00 }

.highlight .nc,     /* Name.Class */
.highlight .ne      /* Name.Exception */
{ color: #008b45; font-weight: bold }

.highlight .nf,     /* Name.Function */
.highlight .nn,     /* Name.Namespace */
.highlight .fm      /* Name.Function.Magic */
{ color: #008b45 }

.theme-dark .highlight .nc,     /* Name.Class */
.theme-dark .highlight .ne,     /* Name.Exception */
.theme-dark .highlight .nf,     /* Name.Function */
.theme-dark .highlight .nn,     /* Name.Namespace */
.theme-dark .highlight .fm      /* Name.Function.Magic */
{ color: #03b75d }

.highlight .sh      /* Literal.String.Heredoc */
{ color: #1c7e71; font-style: italic }

.highlight .sr      /* Literal.String.Regex */
{ color: #1c7e71 }

.highlight .bp,     /* Name.Builtin.Pseudo */
.highlight .na,     /* Name.Attribute */
.highlight .nb      /* Name.Builtin */
{ color: #2589a1 }

.theme-dark .highlight .bp,     /* Name.Builtin.Pseudo */
.theme-dark .highlight .na,     /* Name.Attribute */
.theme-dark .highlight .nb      /* Name.Builtin */
{ color: #37bdc5 }

.highlight .cp      /* Comment.Preproc */
{ color: #1e889b }

.highlight .no      /* Name.Constant */
.highlight .nv,     /* Name.Variable */
.highlight .vc,     /* Name.Variable.Class */
.highlight .vg,     /* Name.Variable.Global */
.highlight .vi,     /* Name.Variable.Instance */
.highlight .vm      /* Name.Variable.Magic */
{ color: #00688B }

.highlight .gh      /* Generic.Heading */
{ color: #000080; font-weight: bold }

.highlight .m,      /* Literal.Number */
.highlight .mb,     /* Literal.Number.Bin */
.highlight .mf,     /* Literal.Number.Float */
.highlight .mh,     /* Literal.Number.Hex */
.highlight .mi,     /* Literal.Number.Integer */
.highlight .mo,     /* Literal.Number.Oct */
.highlight .il      /* Literal.Number.Integer.Long */
{ color: #005bcf }

.theme-dark .highlight .m,      /* Literal.Number */
.theme-dark .highlight .mb,     /* Literal.Number.Bin */
.theme-dark .highlight .mf,     /* Literal.Number.Float */
.theme-dark .highlight .mh,     /* Literal.Number.Hex */
.theme-dark .highlight .mi,     /* Literal.Number.Integer */
.theme-dark .highlight .mo,     /* Literal.Number.Oct */
.theme-dark .highlight .il      /* Literal.Number.Integer.Long */
{ color: #81b4f5 }

.highlight .cs,     /* Comment.Special */
.highlight .kc,     /* Keyword.Constant */
.highlight .kd,     /* Keyword.Declaration */
.highlight .kp,     /* Keyword.Pseudo */
.highlight .kr,     /* Keyword.Reserved */
.highlight .kt,     /* Keyword.Type */
.highlight .nt      /* Name.Tag */
.highlight .gu     /* Generic.Subheading */
{ color: #8B008B; font-weight: bold }

.highlight .k,      /* Keyword */
.highlight .kn      /* Keyword.Namespace */
{ color: #8B008B; font-weight: bold; font-style: italic; }

.highlight .ow      /* Operator.Word */
{ color: #8B008B; }

.theme-dark .highlight .cs,     /* Comment.Special */
.theme-dark .highlight .kc,     /* Keyword.Constant */
.theme-dark .highlight .kd,     /* Keyword.Declaration */
.theme-dark .highlight .kp,     /* Keyword.Pseudo */
.theme-dark .highlight .kr,     /* Keyword.Reserved */
.theme-dark .highlight .kt,     /* Keyword.Type */
.theme-dark .highlight .nt,     /* Name.Tag */
.theme-dark .highlight .gu,     /* Generic.Subheading */
.theme-dark .highlight .k,      /* Keyword */
.theme-dark .highlight .kn,     /* Keyword.Namespace */
.theme-dark .highlight .ow      /* Operator.Word */
{ color: #cf59cf; }

.highlight .nd      /* Name.Decorator */
{ color: #707a7c }

.highlight .w       /* Text.Whitespace */
{ color: #bbbbbb }

.highlight .go      /* Generic.Output */
{ color: #888888 }

.highlight .gp      /* Generic.Prompt */
{ color: #555555 }

.highlight .ge      /* Generic.Emph */
{ font-style: italic }

.highlight .gs      /* Generic.Strong */
{ font-weight: bold }



@media only screen and (max-width: 1280px) {
  .toc-nav {
    display: none;
  }
}

@media only screen and (max-width: 450px){
    #about-columns > div{
        max-width: 100%;
    }
}

@media only screen and (max-width: 860px) {
    .code_cell {
        padding: 0;
    }

    .prompt {
        position: unset;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .input_area,
    .output_subarea {
        padding-left: 0;
    }

    /* .output_png img,
    .output_svg svg {
        margin-top: 0;
        margin-bottom: 0;
        width: 90%;
    } */
    /* .link .name {
        margin-top: 20px!important;
    } */

    /* .link-content .text {
        visibility: visible;
        opacity: 1;
    } */
}

/* @media only screen and (max-width: 400px){ */
    /* #map,
    #map iframe {
        height: 55vh;
    } */
    /* .intro {
        margin-left: 5%;
        margin-right: 5%;
    } */

    /* .wl-text-number{
        display: none;
    } */

    /* .output_png img,
    .output_svg svg{
        margin-top: 0;
        margin-bottom: 0;
        width: 90%;
    } */

    /* .link .name {
        margin-top: 20px!important;
    } */

    /* .link-content .text {
        visibility: visible;
        opacity: 1;
    } */

/* } */