:root {
    --waline-font-size: .9em !important;
    --waline-avatar-size: 3.25em !important;
    --waline-badge-font-size: 0.65em !important;
}

dot {
    text-decoration: underline dotted 2px #f26a3d;
    text-underline-offset: 3px;
}

#about-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about-columns > div{
    max-width: 45%;
}

#about-columns img{
    margin: 2em 0 0 0;
    border-radius: 0;
}

#search-button {
    right: 5em;
}

#waline {
    padding-bottom: 5em;
}

.search-button {
    border: none!important;
    background: none!important;
}

.links {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.links > a{
    border: none;
}

.links a:hover,
.links a:focus {
    color: inherit;
    transition: none;
}

.link {
    display: flex;
    margin: 1em 2em;
    width: 350px;
    border-radius: 5px;
    border: solid 1px #eee;
}

.link img {
    margin: 10px;
    box-shadow: none;
    height: 6em;
    width: 6em;
}

.link .link-content {
    position: relative;
    display: block;
    margin: 0 1em;
    line-height: 1em;
    width: 100%;
}

.link .link-content .name {
    position: absolute;
    margin-top: 50px;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 100%;
    font-family: "Palatino Linotype", "Palatino", "Advocate Ancient Serif SC", serif;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-content .text {
    font-size: 0.8em;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin-top: 4em;
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.links .link:hover,
.links .link:focus {
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    transition: .2s ease-in-out box-shadow;
}

.links .link:hover .name,
.links .link:focus .name {
    margin-top: 20px;
    transition: .4s .1s ease-in-out margin-top;

}

.links .link:hover .text,
.links .link:focus .text {
    visibility: visible;
    opacity: inherit;
    transition: .5s .1s cubic-bezier(0.4, 0, 1, 1) opacity;

}

.wl-card .wl-admin-actions {
    font-size: 0.8em !important;
}

.wl-header input {
    font-size: 0.725em !important;
}

.wl-editor:focus, .wl-input:focus {
    background-color: white !important;
}

.wl-user > img,
.wl-avatar img {
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

button[title="喜欢"],
button[title="表情包"] {
    display: none!important;
}

.wl-content blockquote::before {
    content: none;
}

.wl-content blockquote::after {
    content: none;
}

.wl-content img {
    margin: 1em;
}

/* location icon */
i.fa-solid.fa-location-dot.fa-stack-1x {
    bottom: 25%;
}

.warn-info {
    border: 2px solid;
    background: #fff4e5;
    border-radius: 5px;
}

.warn-info p{
    margin: 15px 15px 15px 15px;
}

.warn-info .fa {
    color: #ff9100
}

.note-info {
    border: 2px solid;
    background: #e5f7ff;
    border-radius: 5px;
}

.note-info p{
    margin: 15px 15px 15px 15px;
}

.note-info .fa {
    color: #00b0ff
}

.note-info pre {
    max-width: 95%;
}

.cite {
    font-family: "Palatino Linotype", "Palatino", "Advocate Ancient Serif SC", serif;
    font-weight: 700;
    font-size: 1.2em;
}

.intro {
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -20px;
    font-size: 90%;
    opacity: 0.8;
    text-align: left;
}

.output_wrapper{
    padding-top: 0.5em;
}

.code_cell {
    padding: 1em 0em 1em 2em;
}

.prompt {
    user-select: none;
    font-family: "Fira Code";
    width: 4em;
    display: block;
    text-align: right;
    position: absolute;
}

.prompt.input_prompt {
    color: #303F9F
}

.prompt.output_prompt {
    color: #D84315
}

.input_area,
.output_subarea {
    padding-left: 5em;
}

.output_png img,
.output_svg svg {
    width: unset;
    box-shadow: none;
    border: 2px solid #eee;
}

.output_svg svg {
    display: block;
    margin: 2.5em auto;
    border-radius: 3px;
    }

.output_text pre {
    background: none;
    border: none;
    padding-top: 0em;
    padding-bottom: 0em;
}

.anchor-link {
    display: none;
}

#map {
    position: relative;
}

#map iframe {
    width:100%;
    height: 75vh;
    border: none;
}

.loader {
    position: absolute;
    margin: 0;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.loader:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

.circular {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }

/* Tone letters */
@font-face {
font-family: "Fira Sans";
src: local(Arial);
unicode-range: U+02E5-02E9;
}

@-webkit-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
@-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
@keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
@-webkit-keyframes color {
    100%, 0% {
      stroke: #d62d20;
    }
    40% {
      stroke: #0057e7;
    }
    66% {
      stroke: #008744;
    }
    80%, 90% {
      stroke: #ffa700;
    }
  }
@keyframes color {
    100%, 0% {
      stroke: #d62d20;
    }
    40% {
      stroke: #0057e7;
    }
    66% {
      stroke: #008744;
    }
    80%, 90% {
      stroke: #ffa700;
    }
  }

/* jupyter notebook code highlight */
.highlight .c { color: #228B22 } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #8B008B; font-weight: bold } /* Keyword */
.highlight .ch { color: #228B22 } /* Comment.Hashbang */
.highlight .cm { color: #228B22 } /* Comment.Multiline */
.highlight .cp { color: #1e889b } /* Comment.Preproc */
.highlight .cpf { color: #228B22 } /* Comment.PreprocFile */
.highlight .c1 { color: #228B22 } /* Comment.Single */
.highlight .cs { color: #8B008B; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #aa0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00aa00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #8B008B; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #00688B; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #B452CD } /* Literal.Number */
.highlight .s { color: #CD5555 } /* Literal.String */
.highlight .na { color: #658b00 } /* Name.Attribute */
.highlight .nb { color: #658b00 } /* Name.Builtin */
.highlight .nc { color: #008b45; font-weight: bold } /* Name.Class */
.highlight .no { color: #00688B } /* Name.Constant */
.highlight .nd { color: #707a7c } /* Name.Decorator */
.highlight .ne { color: #008b45; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #008b45 } /* Name.Function */
.highlight .nn { color: #008b45;} /* Name.Namespace */
.highlight .nt { color: #8B008B; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #00688B } /* Name.Variable */
.highlight .ow { color: #8B008B } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #B452CD } /* Literal.Number.Bin */
.highlight .mf { color: #B452CD } /* Literal.Number.Float */
.highlight .mh { color: #B452CD } /* Literal.Number.Hex */
.highlight .mi { color: #B452CD } /* Literal.Number.Integer */
.highlight .mo { color: #B452CD } /* Literal.Number.Oct */
.highlight .sa { color: #CD5555 } /* Literal.String.Affix */
.highlight .sb { color: #CD5555 } /* Literal.String.Backtick */
.highlight .sc { color: #CD5555 } /* Literal.String.Char */
.highlight .dl { color: #CD5555 } /* Literal.String.Delimiter */
.highlight .sd { color: #CD5555 } /* Literal.String.Doc */
.highlight .s2 { color: #CD5555 } /* Literal.String.Double */
.highlight .se { color: #CD5555 } /* Literal.String.Escape */
.highlight .sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
.highlight .si { color: #CD5555 } /* Literal.String.Interpol */
.highlight .sx { color: #cb6c20 } /* Literal.String.Other */
.highlight .sr { color: #1c7e71 } /* Literal.String.Regex */
.highlight .s1 { color: #CD5555 } /* Literal.String.Single */
.highlight .ss { color: #CD5555 } /* Literal.String.Symbol */
.highlight .bp { color: #658b00 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #008b45 } /* Name.Function.Magic */
.highlight .vc { color: #00688B } /* Name.Variable.Class */
.highlight .vg { color: #00688B } /* Name.Variable.Global */
.highlight .vi { color: #00688B } /* Name.Variable.Instance */
.highlight .vm { color: #00688B } /* Name.Variable.Magic */
.highlight .il { color: #B452CD } /* Literal.Number.Integer.Long */

@media only screen and (min-width: 1000px){
    #waline {
        margin: auto 16%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 900px) and (orientation: landscape){
    #waline {
        margin: 0 1.75em;
    }

    .code_cell {
        padding: 0;
    }

    .prompt {
        position: unset;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .input_area,
    .output_subarea {
        padding-left: 0;
    }

    .output_png img,
    .output_svg svg {
        margin-top: 0;
        margin-bottom: 0;
        width: 90%;
    }
    .link .name {
        margin-top: 20px!important;
    }

    .link-content .text {
        visibility: visible;
        opacity: 1;
    }

    #search-button {
        position: absolute;
    }
}

@media only screen and (max-width: 400px){
    #map,
    #map iframe {
        height: 55vh;
    }
    .intro {
        margin-left: 5%;
        margin-right: 5%;
    }

    .wl-text-number{
        display: none;
    }

    .prompt {
        position: unset;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .code_cell {
        padding: 0;
    }

    .input_area,
    .output_subarea {
        padding-left: 0;
    }

    .output_png img,
    .output_svg svg{
        margin-top: 0;
        margin-bottom: 0;
        width: 90%;
    }

    .output_text pre{
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .link .name {
        margin-top: 20px!important;
    }

    .link-content .text {
        visibility: visible;
        opacity: 1;
    }

    #search-button {
        position: absolute;
    }

    #about-columns > div{
        max-width: 100%;
    }
}