body {
    background: url("https://api.onedrive.com/v1.0/shares/s!AtseC45rsRhN-i76gV7iLlvazkPu/root/content") no-repeat bottom;
}

.inner {
    display: flex;
    justify-content: center;
}

#search {
    position: relative;
    max-height: 50vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    box-shadow: 0 8px 24px -2px rgba(0,0,0,0.4);
    font-family: var(--font-primary);
    font-size: 2em;
}

#search a {
    color: var(--color-content-main);
    text-decoration: none;
}

.nav-header .nav-wrapper-control {
    color: rgba(255,255,255,0.8);
}

.nav-header li a,
.nav-header li button:not(.cta) {
    color:rgba(255,255,255,0.8);
    border-color: rgba(255,255,255,0.8)
}

.nav-header li a:focus,
.nav-header li a:hover,
.nav-header li button:not(.cta):focus,
.nav-header li button:not(.cta):hover,
.nav-header .nav-wrapper-control a:focus,
.nav-header .nav-wrapper-control a:hover {
    color:white;
    border-color: white
}

.nav-footer {
    z-index: unset;
}

.nav-copy,
.nav-credits {
    color: var(--color-background-contrast);
}

.nav-footer a:focus,
.nav-footer a:hover {
    color: var(--color-background-main)
}

.post-header.has-cover {
    padding: 12em 0 0 0;
    margin: 0;
}

.search-form {
    position: relative;
    padding: .25em 0;
}

.search-result {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    overflow-y: unset;
    width: 100%
}

.search-form .input-field,
.stork-message {
    font-size: 1em;
    width: 100%;
    height: 5rem;
    margin: 0;
    padding: 0 .5em;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    box-shadow: none !important;
    outline: 0 !important;
}

.stork-message {
    font-family: var(--font-primary);
    font-style: italic;
    color: #787878;
    font-size: 0.9em;
    line-height: 2.5em;
    border-top: solid 1px #E1E3E6;
}

.stork-results {
    max-height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0em;
}

.stork-results .stork-title {
    font-size: 175%;
    line-height: 1.2em;
    font-weight: 500;
    padding: .5em 0;
}

.stork-result {
    line-height: 1.5em;
    font-size: 0.65em;
    padding: 1em 1.5em;
    border-top: solid 1px #E1E3E6;
}

.stork-result.selected {
    background-color: rgba(255, 255, 255, 0.65);
    transform: background-color ease-out 0.2s;
}

.stork-results p,
.stork-results ul,
.stork-results ol {
    margin: 0;
}

.stork-results li::before {
    display: none;
}

.stork-close-button,
.stork-attribution {
    display: none;
}
